{% extends 'base.html.twig' %}

{% block title %}Cart index
{% endblock %}

{% block body %}

	{% block navBar %}
		{{ parent() }}
	{% endblock %}
	{% block content %}
		<div class="ctn-form">
			<h1>Cart index</h1>

			<table class="table table-striped table-bordered table-hover table-sm">
				<thead>
					<tr>
						<th>Id</th>
						<th>ArticleQuantity</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for cart in carts %}
						<tr>
							<td>{{ cart.id }}</td>
							<td>{{ cart.articleQuantity }}</td>
							<td>
								<a href="{{ path('app_admin_cart_show', {'id': cart.id}) }}"><button type="submit" class="btn btn-primary mb-2">show</button></a>
								<a href="{{ path('app_admin_cart_edit', {'id': cart.id}) }}"><button type="submit" class="btn btn-warning mb-2">edit</button></a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<a href="{{ path('app_admin_cart_new') }}"><button type="submit" class="btn btn-secondary mb-2">Create new</button></a>
		</div>
	{% endblock %}

	
{% endblock %}
