{% extends 'base.html.twig' %}

{% block title %}Products index
{% endblock %}

{% block body %}

	
	{% block content %}
		{# {% import "frag/macroTable.html.twig" as table %} #}
		<div class="ctn-form">
			<h1>Products index</h1>

			

			


			  <table class="table  table-striped table-bordered table-hover table-sm ">
				<thead>
					<tr>
						<th>Id</th>
						<th>ArticleRef</th>
						<th>ArticleName</th>
						<th>ArticleImages</th>
						<th>ArticleThumbnails</th>
						<th>ArticleStockQuantity</th>
						<th>ArticleDescription</th>
						<th>BoughtPrice</th>
						<th>SellPriceHT</th>
						<th>SellPriceTTC</th>
						<th>TVA</th>
						<th>Details</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for product in products %}
						<tr>
							<td>{{ product.id }}</td>
							<td>{{ product.articleRef }}</td>
							<td>{{ product.articleName }}</td>
							
							<td>
								{{product.articleImages }}></td>
							<td>
								{{product.articleThumbnails }}
								></td>
							<td>{{ product.articleStockQuantity }}</td>
							<td>{{ product.articleDescription }}</td>
							<td>{{ product.boughtPrice }}</td>
							<td>{{ product.sellPriceHT }}</td>

							<td>{{  product.getSellPriceTTC|number_format(2, '.', ',')  }}</td>
							<td>{{ product.TVA }}</td>
							<td>{{ product.details }}</td>
							<td>
								<a href="{{ path('app_admin_products_show', {'id': product.id}) }}"><button type="submit" class="btn btn-primary mb-2">show</button></a>
								<a href="{{ path('app_admin_products_edit', {'id': product.id}) }}"><button type="submit" class="btn btn-warning mb-2">edit</button></a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="13">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>  

			<a href="{{ path('app_admin_products_new') }}"><button type="submit" class="btn btn-secondary mb-2">Create new</button></a>
			
		</div>

	{% endblock %}

	
{% endblock %}
