{% extends 'base.html.twig' %}

{% block title %} Products index
{% endblock %}

{# !le style css est inline risque securite xss #}

{% block content %}
	<h1>Produits
	</h1>

	{# <div class="cards row-center">
										
				<div class="card"> #}
	<div class="container ">

		<div class="row row-cols-1 row-cols-sm-2  	row-cols-md-3 g-3 justify-content-center">
			{% for product in products %}


				<div class="col mx-5">
					<div class="card  shadow-sm mb-5 " style="height: 30rem;  ">
						 <div class="ctnImg ctnImgProduct ">
							<img class="bd-placeholder-img card-img-top " width="100%" height="225" style = 'object-fit: cover;' src="{{asset(product.articleThumbnails)}}" alt="image de {{ product.articleName }}">


						</div> 
						<div class="card-body product-card-body" style="overflow: auto;">
							<h5 class="card-title
																																																																																			">{{ product.articleName  }}
							</h5>
							<p class="card-text">{{ product.sellPriceHT  }}
								€</p>
							<div class="card-text">{{ product.articleDescription  }}</div>
							<div class="dropdown">
								<button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
									show more
								</button>
								<ul class="dropdown-menu">
									<li>
										<a class="dropdown-item" href="app_products_show">
											détail:
											{{ product.details  }}</a>
									</li>
									<li>
										<a class="dropdown-item" href="app_products_show">
											référence produit:
											{{ product.articleRef  }}</a>
									</li>

								</ul>
							</div>

						</div>
						<div class="card-footer template-product-btnPanier ">
							
							     <a href="{{path('app_cart_add',{'id':product.id})}}" class="btn btn-Blue">ajouter au panier</a>  
							 
							<a href="{{path('app_paiement_index')}}" class="btn btn-primary">acheter maintenant</a>
						</div>
					</div>
				</div>


			{% endfor %}
		</div>
	</div>

	
	 {% block footer %}
		{% include 'frag/footer.html.twig' %}
	{% endblock %}  

{% endblock %}
