{% extends 'base.html.twig' %}

{% block title %}Adress index{% endblock %}

{% block content %}

    <div class="ctn-form">
        <h1>Adress index</h1>

        <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>number</th>
                    <th>street</th>
                    <th>City</th>
                    <th>Zip</th>
                    <th>Country</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for adress in adresses %}
                <tr>
                    <td>{{ adress.id  }}</td>
                    <td>{{ adress.number  }}</td>
                    <td>{{ adress.street  }}</td>
                    <td>{{ adress.City  }}</td>
                    <td>{{ adress.Zip  }}</td>
                    <td>{{ adress.Country  }}</td>
                    <td>
                        <a href="{{ path('app_admin_adress_show', {'id': adress.id}) }}"><button type="submit" class="btn btn-primary mb-2">show</button></a>
                        <a href="{{ path('app_admin_adress_edit', {'id': adress.id}) }}"><button type="submit" class="btn btn-warning mb-2">edit</button></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_admin_adress_new') }}"><button type="submit" class="btn btn-secondary mb-2">Create new</button></a>
    </div>
{% endblock %}
