{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block content %}
    <h1>Paiement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paiement.id |e }}</td>
            </tr>
            <tr>
                <th>BankName</th>
                <td>{{ paiement.bankName |e  }}</td>
            </tr>
            <tr>
                <th>CardName</th>
                <td>{{ paiement.cardName |e   }}</td>
            </tr>
            <tr>
                <th>CardNumber</th>
                <td>{{ paiement.cardNumber |e  }}</td>
            </tr>
            <tr>
                <th>CardNetwork</th>
                <td>{{ paiement.cardNetwork |e   }}</td>
            </tr>
            <tr>
                <th>CardHoldername</th>
                <td>{{ paiement.cardHoldername |e  }}</td>
            </tr>
            <tr>
                <th>ExpirationDate</th>
                <td>{{ paiement.expirationDate ? paiement.expirationDate|date('Y-m-d') : ''  }}</td>
            </tr>
            <tr>
                <th>CVCCode</th>
                <td>{{ paiement.CVCCode |e  }}</td>
            </tr>
            <tr>
                <th>SecurityCard</th>
                <td>{{ paiement.securityCard |e  }}</td>
            </tr>
            <tr>
                <th>Currency</th>
                <td>{{ paiement.currency |e  }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_paiement_index') }}">back to list</a>

    
{% endblock %}
