<style>
	body #navbar_top .container-fluid #navbarNav .container-fluid .d-flex .form-control{width:10rem
	}
</style> 


<nav id="navbar_top" class="navbar navbar-expand-lg bg-body-tertiary ">
	<div class="container-fluid">
		<a class="navbar-brand " href="{{ path('app_home') }}">
			<img class='logoImage me-5 logo' src="{{asset('media/images/logo2.png')}}" alt="logo qui a pour texte physiosport en conscience">
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" class="navbarNav">
			<ul
				class="navbar-nav ml-auto me-5">

				

				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_products_index') }}">produits</a>
				</li>


				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Categories
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{{path('app_category_index')}}">Maternité</a>


						</li>
						<li>
							<a class="dropdown-item" href="{{path('app_products_index')}}">Sport pour le dos</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{path('app_products_index')}}">Senior</a>
						</li>
					</ul>
				</li>
				<li class="nav-item ">
					<a class="nav-link" href="{{ path('app_about') }}">A propos</a>
				</li>


				<li class="nav-item">
					{% if is_granted('ROLE_ADMIN') %}

						<a class="nav-link" href="{{ path('admin') }}">Dashboard</a>
					{% endif %}

				</li>


			</ul>


		</div>
		<div class="collapse navbar-collapse  d-flex justify-content-end" id="navbarNav">
			<ul class="navbar-nav ml-auto me-5 ">
				<li class="nav-item ">
					<a class="nav-link" href="{{ path('app_cart_index') }}">

						<i class="fa-solid fa-basket-shopping"></i>
						
					</a>
				</li>


				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_logout') }}">
							<i class="fa-regular fa-user"></i>
							<span class=" nav-item-text">Déconnexion</span>

						</a>

					</li>
				{% else %}

					<li class="nav-item ">
						<a class="nav-link" href="{{ path('app_login') }}">
							<i class="fa-solid fa-user"></i>
							<span class=" nav-item-text">Connexion</span>

						</a>


					</li>
				{% endif %}


				{# si connexion actif afficher Mon compte #}

				{% if is_granted('IS_AUTHENTICATED_FULLY')  %}
					<li
						class="nav-item">
						
						<a class="nav-link me-5" href="{{path('app_user_show',{"id":app.user.id})}}">
							|	Mon compte</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_register') }}">
							inscription
						</a>
					</li>
				{% endif %}


			</ul>


		</div>
	</div>

</nav> 
