{% extends 'base.html.twig' %}

{% block title %}Adress{% endblock %}

{% block body %}
    <h1>Adresses </h1>

    <h2>Adresse personnelle</h2>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ adress.id }}</td>
            </tr> #}
            <tr>
                <th>Number</th>
                <td>{{ adress.number |e }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ adress.street |e }}</td>
            </tr>
            
            <tr>
                <th>Zip</th>
                <td>{{ adress.Zip |e }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ adress.City |e }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ adress.Country |e }}</td>
            </tr>
            
        </tbody>
    </table>

    <h2>Adresse de livraison</h2>


    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ adressDelivery.id }}</td>
            </tr> #}
            <tr>
                <th>FirsName</th>
                <td>{{ adressDelivery.firstName |e }}</td>
            </tr>
            <tr>
                <th>lastName</th>
                <td>{{ adressDelivery.lastName |e }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ adressDelivery.phone |e}}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ adressDelivery.number |e }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ adressDelivery.street |e }}</td>
            </tr>
            <tr>
                <th>Zip</th>
                <td>{{ adressDelivery.Zip |e }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ adressDelivery.City |e }}</td>
            </tr>
            
            <tr>
                <th>Country</th>
                <td>{{ adressDelivery.Country |e }}</td>
            </tr>
            
            



        </tbody>

    <a href="{{ path('app_adress_index') }}">back to list</a>

    <a href="{{ path('app_adress_edit', {'id': adress.id}) }}">edit</a>

    {{ include('adress/_delete_form.html.twig') }}
{% endblock %}
