{% extends 'base.html.twig' %}

{% block title %}CommentsBlog index{% endblock %}

{% block body %}
    <h1>CommentsBlog index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Comments</th>
                <th>Author</th>
                <th>DateCreation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comments_blog in comments_blogs %}
            <tr>
                <td>{{ comments_blog.id }}</td>
                <td>{{ comments_blog.comments }}</td>
                <td>{{ comments_blog.author }}</td>
                <td>{{ comments_blog.dateCreation ? comments_blog.dateCreation|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_comments_blog_show', {'id': comments_blog.id}) }}">show</a>
                    <a href="{{ path('app_comments_blog_edit', {'id': comments_blog.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_comments_blog_new') }}">Create new</a>
{% endblock %}
