{% extends 'base.html.twig' %}

{% block title %}CommentsBlog{% endblock %}

{% block body %}
    <h1>CommentsBlog</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comments_blog.id }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{{ comments_blog.comments }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ comments_blog.author }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ comments_blog.dateCreation ? comments_blog.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_comments_blog_index') }}">back to list</a>

    <a href="{{ path('app_comments_blog_edit', {'id': comments_blog.id}) }}">edit</a>

    {{ include('comments_blog/_delete_form.html.twig') }}
{% endblock %}
