{% extends 'base.html.twig' %}
{% use "bootstrap_5_layout.html.twig" %}

{% block title %}Order recap
{% endblock %}

{% block content %}

	

	
	<h1>verifier la commande</h1>

	<h3 class="text-uppercase">
		<u>les détail d'expédition</u>
	</h3>
	<div class="mb-3">

		{# <span>{{ form_row(form.transporter.title, {'attr': {'class': 'form-control'}}) }}</span>
        <span>{{ form_row(form.transporter.content, {'attr': {'class': 'form-control'}}) }}</span>
        <span>{{ form_row(form.transporter.price ) | number_format(2,',' , '.')}} € , {'attr': {'class': 'form-control'}} </span> #}

		{# {{transporter.title}},
		{{transporter.content}},
		{{transporter.price | number_format(2, ',' , '.') }} € #}
							
	</div>

	<h3 class="text-uppercase">
		<u>
			Adresse pour la  livraison</u>
	</h3>
	<div class="mb-3">
		{# {{ form_row(form.adress, {'attr': {'class': 'form-control'}}) }} #}
		{# {{delivery | raw}} #}

		{# {{adressDelivery.firstName}} {{adressDelivery.lastName}}, #}
		{# {{adressDelivery.number}}
		{{adressDelivery.adress}},
		{{adressDelivery.zipCode}},
		{{adressDelivery.city}},
		{{adressDelivery.country}} #}
	</div>

	
	<div
		class="col-lg-5 offset-lg-1 pt-1">
		 {# {{dump(recapCart)}}     #}
		<h2 class="pb-2 pt-md-2 my-4 mt-lg-5  ">
			Récapitulatif de la commande
			<u>{{ (recapCart | length) > 1 ? 'produits' : 'produit'  }}
				
			</u>
		</h2>
	</div>
	


	<div class="container">
		<div class="row">
			<div class="col-12">
				
                {% set total = null %}
				{% for item in recapCart.data %}
					
					<div class="d-flex justify-content-between align-items-center mb-3 border-bottom pb-3">
						<img src="{{ asset(item.product.articleThumbnails) }}" alt="{{ item.product.articleName }}" class="mr-3" style="width: 100px;">
						<div class="flex-grow-1">
							<h5>{{ item.product.articleName |e  }}</h5>
							<p>Quantity:
								{{item.quantity |e }}</p>
							<p>Price:
								{{ (item.product.sellPriceHT * item.quantity ) |number_format( 2, ',' , '.')}}
								€</p>
						</div>
						
					</div>
                    {% set total = total + (item.product.sellPriceHT * item.quantity) %}
				{% endfor %}
				<div class="d-flex justify-content-between align-items-center mt-4">
                    <h4 class="fw-bold">Sous-Total:</h4>
					<span><h4 class="fw-bold">{{ (total  ) |number_format( 2, ',' , '.')}}
						€</h4></span>
                    {# <h4 class="fw-bold">Frais de port:</h4>
					<span><h4 class="fw-bold">{{ (transporter.price  ) |number_format( 2, ',' , '.')}}
						€</h4></span> #}

					
				</div>

                <div class="d-flex justify-content-between align-items-center mt-4">
                    
                    {# {% if method == 'stripe' %}{ #}
                         <a href="{{path('app_paiement_index')}}">
                            <button type="submit">
                                    payer par stripe | {{ (total ) |number_format( 2, ',' , '.')}}
                            </button> </a>
					{# }
                         #}
                    {# {% endif %} #}
                    

                    
					
				</div>



                
				
			</div>
		</div>
	</div>


	{# <table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>OrderDate</th>
				<th>Paid</th>
				<th>Status</th>
				<th>Delivered</th>
				<th>DeliveryDate</th>
				<th>DeliveryInfo</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for order in orders %}
				<tr>
					<td>{{ order.id }}</td>
					<td>{{ order.orderDate ? order.orderDate|date('Y-m-d') : '' }}</td>
					<td>{{ order.paid ? 'Yes' : 'No' }}</td>
					<td>{{ order.status }}</td>
					<td>{{ order.delivered ? 'Yes' : 'No' }}</td>
					<td>{{ order.deliveryDate ? order.deliveryDate|date('Y-m-d') : '' }}</td>
					<td>{{ order.deliveryInfo }}</td>
					{# <td>
						<a href="{{ path('app_order_show', {'id': order.id}) }}">show</a>
						<a href="{{ path('app_order_edit', {'id': order.id}) }}">edit</a>
					</td> #}
				{# </tr>
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>  #}

	{# <a href="{{ path('app_order_new') }}">Create new</a> #}
{% endblock %}
