{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block content %}
    <h1>Order</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id |e   }}</td>
            </tr>
            <tr>
                <th>OrderDate</th>
                <td>{{ order.orderDate ? order.orderDate|date('Y-m-d') : ''  }}</td>
            </tr>
            <tr>
                <th>Paid</th>
                <td>{{ order.paid ? 'Yes' : 'No'  }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ order.status |e   }}</td>
            </tr>
            <tr>
                <th>Delivered</th>
                <td>{{ order.delivered ? 'Yes' : 'No'  }}</td>
            </tr>
            <tr>
                <th>DeliveryDate</th>
                <td>{{ order.deliveryDate ? order.deliveryDate|date('Y-m-d') : ''  }}</td>
            </tr>
            <tr>
                <th>DeliveryInfo</th>
                <td>{{ order.deliveryInfo |e   }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_order_index') }}">back to list</a>

    
{% endblock %}
