{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block content %}
    

    
	<h1>Mon compte
	</h1>

	{#  je souhaite avoir les informations de l'utilisateur connecter #}
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Informations personnelles</h2>
				  <p>{{app.user.firstName }}</p> 
				<p>{{ app.user.lastName }}</p> 
				 {# <p>{{app.user.birthday ? user.birthday|date('Y-m-d') : '' }}</p>  #}
				

				  <p>{{ app.user.email }}</p>
				 <p>{{ app.user.password }}</p>
				<p>{{ app.user.phone }}</p>  
				<h2>Adresse</h2>
				 
				{% for adress in user.adress %}
                    {% for field in adressFields %}
                        <tr>
                            <th>{{ field }}</th>
                            <td>{{ attribute(adress, field) }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
				
				 

			</div>
            
            <div class="col-md-6">
                    <h2>Commandes</h2>
                    <p>Vous n'avez pas encore passé de commande</p>
                
                    <h2> historique de vos Commandes</h2>
                    <p>Aucune</p>
            </div>    
            
		</div>
	</div>


		


    <a href="{{ path('app_user_index') }}">back to list</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}

    {% block footer %}
			{% include 'frag/footer.html.twig' %}
	{% endblock %}

{% endblock %}
